#cl{
    width: 683px;
    height: 29px;
    padding: 0;
    margin: 0;
    float: center;
    overflow: hidden;
    list-style-type: none;
    text-align: center;
    
}
#cl.hover{
    color: brown;
}
body{
    background-color: cyan;
}
